PROTOVISITAS_DATABASE_URL=
PROTOVISITAS_DB_ECHO=false
VITE_GOOGLE_MAPS_API_KEY=
VITE_API_URL=http://localhost:8000
MYSQL_DATABASE=protovisitas
MYSQL_USER=protovisitas_user
MYSQL_PASSWORD=replace_with_a_strong_password
MYSQL_ROOT_PASSWORD=replace_with_another_strong_password
